In [1]:
import pandas as pd
from openpyxl import load_workbook
from openpyxl.styles import PatternFill, Font
import re
from openpyxl.comments import Comment

from utilities import *

In [2]:
COLOR_DELETED = PatternFill(start_color="FF0000", end_color="FF0000", fill_type="solid")
COLOR_ADDED = PatternFill(start_color="00FF00", end_color="00FF00", fill_type="solid")
COLOR_MODIFIED = PatternFill(start_color="e3ac36", end_color="D3D3D3", fill_type="solid")
font = Font(color='FFFFFF')

In [3]:
old_path =  'yazaki_data/BOM/BOM_ref.xlsx'
new_path = 'yazaki_data/BOM/BOM_new.xlsx'
data_yazaki = 'yazaki_data/MMSTA LOWDASH DHN BENITA_bom.XLSX'

In [4]:
df_old = pd.read_excel(old_path,engine='openpyxl')
df_new = pd.read_excel(new_path,engine='openpyxl')
# df_yaz = pd.read_excel(data_yazaki, sheet_name=0, dtype=str)

In [5]:
columns = list(df_old.columns)
columns

['level',
 'Plant_old',
 'Material Type_old',
 'Material_old',
 'Material Description_old',
 'Bill of material_old',
 'Plant_new',
 'Material Type_new',
 'Material_new',
 'Material Description_new',
 'Bill of material_new']

In [6]:
df_new.shape, df_old.shape

((15, 11), (17, 11))

In [7]:
df_old = df_old.fillna('NAN')
df_new = df_new.fillna('NAN')

In [8]:
df_new.ne(df_old)

,level,Plant_old,Material Type_old,Material_old,Material Description_old,Bill of material_old,Plant_new,Material Type_new,Material_new,Material Description_new,Bill of material_new
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,True,True,True,True,True,True,True,True,True,True,True
4,True,False,False,False,False,False,True,True,True,True,True
5,True,False,False,False,False,False,True,True,True,True,True
6,True,True,True,True,True,True,False,False,True,True,False
7,True,False,False,False,False,False,True,True,True,True,True
8,False,False,False,False,False,False,True,True,True,True,True
9,True,False,False,False,False,False,False,True,True,True,True
10,False,True,True,True,True,True,False,True,True,True,False
11,False,True,True,True,True,True,False,True,True,True,False
12,True,False,False,False,False,False,True,True,True,True,True
13,True,False,False,False,True,False,True,True,True,True,True
14,True,False,False,False,False,False,False,True,True,True,True
15,True,True,True,True,True,True,True,True,True,True,True
16,True,True,True,True,True,True,True,True,True,True,True

In [9]:
diff_values = df_old.where(df_new.ne(df_old), other="SAME")
diff_values

,level,Plant_old,Material Type_old,Material_old,Material Description_old,Bill of material_old,Plant_new,Material Type_new,Material_new,Material Description_new,Bill of material_new
0,SAME,SAME,SAME,SAME,SAME,SAME,SAME,SAME,SAME,SAME,SAME
1,SAME,SAME,SAME,SAME,SAME,SAME,SAME,SAME,SAME,SAME,SAME
2,SAME,SAME,SAME,SAME,SAME,SAME,SAME,SAME,SAME,SAME,SAME
3,*1,nn,nn,nn,nn,nn,nn,nn,nn,nn,nn
4,**2,SAME,SAME,SAME,SAME,SAME,MA13,YDM,FW406994,LT Single Wire COFLRYB 0.35 L/W,NAN
5,***3,SAME,SAME,SAME,SAME,SAME,NN,NN,NN,NN,NN
6,0,MA13,YDM,FW406994,LT Single Wire COFLRYB 0.35 L/W,NAN,SAME,SAME,FW403930,LT Single Wire COFLRYB 0.5 B,SAME
7,*1,SAME,SAME,SAME,SAME,SAME,MA13,YDM,FW406994,LT Single Wire COFLRYB 0.35 L/W,NAN
8,SAME,SAME,SAME,SAME,SAME,SAME,NN,NN,NN,NN,NN
9,**2,SAME,SAME,SAME,SAME,SAME,SAME,YSFG,S008548468,Circuit 0278 COFLRYB 0.5 B,06366645
10,SAME,NN,NN,NN,NN,NN,SAME,YDM,FW403930,LT Single Wire COFLRYB 0.5 B,SAME
11,SAME,NV,NV,NV,NV,NV,SAME,YYY,FW01010101,NAN,SAME
12,***3,SAME,SAME,SAME,SAME,SAME,MA13,YDM,FW000000,LT Single Wire COFLRYB 0.35 L/W,NAN
13,**2,SAME,SAME,SAME,NAN,SAME,NN,NN,NAN,NN,NN
14,***3,SAME,SAME,SAME,SAME,SAME,SAME,YSFG,S008548468,Circuit 0278 COFLRYB 0.5 B,06366645
15,**2,NN,NN,NN,NN,NN,MA13,YDM,FW403930,LT Single Wire COFLRYB 0.5 B,NAN
16,*1,nv,nv,nv,nv,nv,nv,nv,nv,nv,nv

In [21]:
if df_old.shape[0] > df_new.shape[0] :
    data_ref = copy.deepcopy(df_old)
elif df_old.shape[0] > df_new.shape[0] :
    data_ref = copy.deepcopy(df_new)

In [80]:
import pandas as pd
df_gauche= pd.DataFrame({
    'id': [1, 2, 3],
    'ville': ['Paris', 'Lyon', 'Marseille'],
    'nom': ['Alice', 'Bob', 'Charlie'],
    'code_postal': [10, 69000, 13000]
})

df_droite = pd.DataFrame({
    'id': [2, 3],
    'ville': ['Lyon', 'Marseille'],
    'nom': ['Bob', 'Bob'],
    'code_postal': [69000, 13000]
})
df_gauche

   id      ville      nom  code_postal
0   1      Paris    Alice           10
1   2       Lyon      Bob        69000
2   3  Marseille  Charlie        13000

In [47]:
df_diff = pd.merge(df1, df2, on=['id', 'nom'], how='left', indicator=True)

# Filtrer les lignes qui sont uniquement dans df1
df_resultat = df_diff[df_diff['_merge'] == 'left_only'].drop(columns=['_merge'])

print(df_resultat)

(1, 'Paris', 'Alice', 10)

In [12]:
indices_change = []
deleted_rows = []
modified_rows = []
indice_ajout = 0

ouptut = "yazaki_data/BOM/Results.xlsx"
if df_old.shape[0] >= df_new.shape[0] :
    wb = load_workbook(old_path)
    ws =wb.active

    for idx, row in diff_values.iterrows():
        indices = [i for i, val in enumerate(row) if val != "SAME"]
        indices_change.append(indices)
    for row_idx, col_indices in enumerate(indices_change):
        if len(col_indices) == len(columns) :
            print(f'row : {row_idx+2} (deleted row)')
            
            for col in range(1, ws.max_column + 1):
                cell = ws.cell(row=row_idx+2, column=col)
                cell.fill = COLOR_DELETED  
                cell.font = font
            comment_text = f"Row deleted"
            ws.cell(row=row_idx+2, column=1).comment = Comment(comment_text, "Author")
            deleted_rows.append(f"Row {row_idx + 2} deleted")
            indice_ajout = 1
            
        else :
            for col_idx in col_indices:
                print(indice_ajout)
                old_value = df_old.iloc[row_idx+indice_ajout, col_idx]
                new_value = df_new.iloc[row_idx, col_idx]
                cell = ws.cell(row=row_idx+2, column=col_idx+1)
                cell.fill = COLOR_MODIFIED
                cell.font = font
                cell.comment = Comment(add_comment(old_value, new_value), "AutoComparer")
                # print(f'row index : {row_idx+2}, column index : {col_idx+1}')
            modified_rows.append(f"Row {row_idx + 2} modified")

    summary_ws = wb.create_sheet("Summary")

    # Ajouter un titre pour les colonnes du résumé
    summary_ws['A1'] = "Change Type"
    summary_ws['B1'] = "Details"

    # Ajouter les lignes supprimées dans le résumé
    for i, row in enumerate(deleted_rows, start=2):
        summary_ws[f"A{i}"] = "Deleted"
        summary_ws[f"B{i}"] = row

    # Ajouter les lignes modifiées dans le résumé
    for i, row in enumerate(modified_rows, start=len(deleted_rows) + 2):
        summary_ws[f"A{i}"] = "Modified"
        summary_ws[f"B{i}"] = row
        
    wb.save(ouptut) 
    print(f"Comparison complete. Differences highlighted in '{ouptut}'")
elif df_old.shape[0] < df_new.shape[0] :
    pass

else :
    pass

row : 5 (deleted row)
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
row : 17 (deleted row)
row : 18 (deleted row)
Comparison complete. Differences highlighted in 'yazaki_data/BOM/Results.xlsx'